<ion-content>
<button class="button button-block button-balanced" ng-if="!gameInSession" ng-click="startGame()">
  Start Game
</button>
	<td-cards ng-if="gameInSession">
    	<td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
              on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-partial-swipe="cardPartialSwipe(amt)">
			<div class="bar bar-header bar-calm h1">
					{{ card.word }}
			</div>	
      <div class="no-text overlayBox"><div class="noBox boxed">Skip</div></div>
      <div class="synonyms">
        <div class="item" ng-repeat="synonym in card.synonyms">{{ synonym }}</div>
      </div>
      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yup!</div></div>
    	</td-card>
    </td-cards>
</ion-content>