<ion-content>
<button class="button button-block button-balanced" ng-if="!gameInSession" ng-click="startGame()">
  Start Game
</button>
	<td-cards ng-if="gameInSession">
    	<td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
              on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-partial-swipe="cardPartialSwipe(amt)">
				<div class="item item-divider h1">
					<div class="bar bar-header bar-calm h1">
							{{ card.word }}
					</div>	
				</div>
                  <div class="image">
                      <div class="no-text overlayBox"><div class="noBox boxed">Wrong</div></div>
                      <div class="item" ng-repeat="synonym in card.synonyms">
	    				{{ synonym }}
	    			</div>
                      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Got It!</div></div>
                  </div>
    	</td-card>
    </td-cards>
</ion-content>